body{
    background:linear-gradient(to left, darkred, darkblue)
}

h1 {
    color:beige;
}

h2 {
    color:beige;
}

h3 {
    color:beige;
}

h4 {
    color:beige;
}

h5 {
    color:beige;
}

p {
    color:beige;
    font-size: larger;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 100px;
    background: rgba(108, 5, 176, 0.704);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index: 100;
}

.CESC {
    font-size: 32;
    color: beige;
    text-decoration:none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color:beige;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%; 
    left: 0;
    width: 0;
    height: 2px;
    background: beige;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar button {
    background-color: aqua;
}

