h2{
    border-top-style: groove;
    border-bottom-style: groove;
    border-top-color: black;
    border-bottom-color: black;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: black;
    border-right-style: double;
    border-right-width: 10px;
    border-right-color: black;
    padding: 5px;;
    font-size: 30px;
    text-decoration: underline;
}
h3{
    border-style: dotted;
    
}
h1{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: black;
    border-right-style: double;
    border-right-width: 10px;
    border-right-color: black;
    padding: 5px;
    font-size: 30px;
}

p{
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    border-radius: 10px;
    padding: 5px;
    font-size: 23px;
}
h4{
    border-style: dotted;
}
h5{
    border-style: dotted;
}

body{
	background:linear-gradient(to right, gray,white)
}
